* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.head {
  background-color: #fff143;
  position: fixed;
  width: 100%;
}
.aui-header-item {
  position: absolute;
  margin-top: 10px;
  margin-left: 25px;
}
.head2 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff143;
  padding: 92px 0px 10px 0px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fun {
  display: flex;
  padding: 10px 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.search {
  display: flex;
  width: 90%;
  height: 40px;
  background-color: #f2be45;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px 0 6px;
}
.search input {
  border: none;
  outline: none;
  height: 30px;
  width: 73%;
  font-size: 17px;
  border: 1px solid black;
  padding: 0 5px;
}
.search img {
  width: 19px;
  width: 18px;
}
.search button {
  border: none;
  background-color: #fff143;
  height: 24px;
  width: 17%;
  margin-right: 5px;
}
.hot {
  width: 95%;
  height: 100px;
  margin-top: 10px;
  background-color: #f2be45;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rmwt {
  border-right: 1px solid black;
  font-size: 25px;
  padding-right: 15px;
  font-weight: bold;
}
.hot_questions {
  font-size: 17px;
  line-height: 25px;
}
.more {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #fff143;
  font-size: large;
  font-weight: bold;
}
.questions {
  padding: 10px;
  margin-bottom: 45px;
}
.question {
  border-top: 1px solid #f2be45;
  padding: 20px;
}
.stu {
  display: flex;
  margin-bottom: 5px;
}
.stu img {
  width: 40px;
}
.name {
  line-height: 40px;
  font-size: 20px;
  margin-left: 10px;
}
.ddd {
  margin-left: auto;
  line-height: 40px;
  font-size: 50px;
}
.question-t {
  font-weight: bold;
  font-size: 18px;
}
.question-p {
  font-size: 17px;
  margin-bottom: 5px;
}
.question-img {
  max-width: 100%;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.question-buttom {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.question-buttom img {
  width: 25px;
}
.answer {
  height: 25px;
  line-height: 25px;
}

.bottom {
  display: flex;
  position: fixed;
  bottom: -1px;
  background-color: white;
  height: 40px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.bottom img {
  width: 30px;
}
.fabu {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff143;
  font-size: 40px;
  display: flex;
  justify-content: center;
  line-height: 40px;
}
