* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.head {
  background-color: rgb(30, 166, 64);
  position: fixed;
  width: 100%;
}
.aui-header-item {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  color: aliceblue;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.fun {
  display: flex;
  padding: 10px 0;
  justify-content: space-evenly;
  align-items: center;
}
.fun a img {
  width: 35px;
  margin: -5px;
}
.search {
  display: flex;
  width: 76%;
  height: 30px;
  border-radius: 25px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px 0 6px;
}
.search input {
  border: none;
  outline: none;
  height: 30px;
  width: 73%;
  font-size: 17px;
}
.search img {
  width: 19px;
  width: 18px;
}
.search button {
  border: none;
  background-color: rgb(30, 166, 64);
  height: 24px;
  width: 17%;
  border-radius: 12px;
  color: white;
}
.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 82px;
  padding-bottom: 50px;
}
.good {
  width: 40%;
  height: 220px;
  box-shadow: 0px 0px 8px 0px #797979;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}
.good img {
  max-width: 136.15px;
  height: 136.15px;
  border-radius: 10px;
}
.good_name {
  padding: 0 3px;
}
.new {
  width: 40px;
  border-radius: 4px;
  text-align: center;
  border: 0.5px solid orange;
  font-size: 12px;
}
.price {
  color: brown;
}
.hide {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.detail {
  width: 80%;
  height: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #000000;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail img {
  width: 100%;
  border-radius: 10px;
}
.return {
  width: 30px;
}
.return img {
  display: block;
}
.seller {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid rgb(30, 166, 64);
  padding: 0 5px;
  font-size: 20px;
}
.seller img {
  width: 30px;
  margin-right: 5px;
}
.detail-bottom {
  display: flex;
  justify-content: end;
}
.chujia,
.woxiangyao {
  background-color: rgb(255, 196, 86);
  border-radius: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.woxiangyao {
  width: 105px;
  background-color: rgb(255, 255, 0);
  margin-left: 10px;
}
.bottom {
  display: flex;
  position: fixed;
  bottom: -1px;
  background-color: white;
  height: 40px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.bottom img {
  width: 30px;
}
.fabu {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(30, 166, 64);
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  line-height: 40px;
}
